@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size:5vw;
}

body{
    width: 100vw;
    background-color: green;
}

#main{
    width: 100%;
}
#timer{
    width: 100%;
    height: 15vh;
    display: table;
}

#timeDisp{
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    color:#00002e;
}

.header{
    width: 100%;
    min-height: 37vh;
    display: table;
    padding: 5%;

}
#header{
    background-color: white;
    color: #00002e;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3%;
}
#quizReg{
    width: 100%;
    height: 38vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2%;
}

.contain{
    width: 100%;
    height: 23.5%;
    background-color: #00002e;
    display: table;
    padding: 3%;
    color: white;
}

.containDiv{
    display: table-cell;
    vertical-align: middle;
}

#butto{
    width: 100%;
    height: 10vh;
    display: table;
    padding: 3%;
}

#buttonGrp{
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

button{
    height: 100%;
    width: 400px;
    background-color: white;
    color: #00002e;
    font-weight: bold;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input[type="radio"]{
    margin-top: -10px;
    vertical-align: middle;
}