*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: #5cc29f;
}

.parent{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

}

.form-div{
    background-color: white;
    width: 80%;
    height: 80%;
    min-width: 200px;
    padding: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.existPara{
    width: 100%;
    height: 2%;
}

form{
    width: 100%;
    height: 70%;
    color: #00002e;
    font-weight: bold;
    font-size: 16px;
}

.logo{
    height: 20%;
}

.name-form,.submitDiv{
    width: 100%;
    height:25%;
    position: relative;

    /*border: solid black 1px;*/

}
.name-form div{
    height: 40%;

}

.submitDiv div{
    height: 70%;
}
.name-form div, .submitDiv div{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*border: solid blue 1px;*/

}

.logo_img{
    height: 100%;
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
}



.name-form div input{
    width: 100%;
    height: 100%;
    border: 1px grey solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color:#00002e ;
}

.submitDiv div input{
    width: 250px;
    height: 100%;
    margin: 0 auto;
    display: block;
    background-color: #00002e;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    font-weight: bold;
    font-size: 16px;
}

.submitDiv div input:hover{
    background-color: #5cc29f;
    color:white ;
    font-weight: bold;
    font-size: 16px;
}


@media only screen and (min-width: 1025px) {


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .buttonDiv{
        width: 100%;
        margin-bottom: 4px;
    }
    .button:hover{
        background-color: #5cc29f;
        color:white ;
        font-weight: bold;
        font-size: 16px;
    }

    .button{
        width: 250px;
        display: block;
        margin: 0 auto;
        background-color: #00002e;
        color: white;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
        font-weight: bold;
        font-size: 16px;
    }

    button{
        height: 50px;
    }

    a{
        text-decoration: none;
    }
    body{
        background-color: #5cc29f;
    }
    .parent{
        width: 100vw;
        height: 100vh;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .form-div{
        background-color: white;
        width: 40%;
        height: 500px;
        min-width: 200px;
        padding: 30px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    }
    .existPara{
        width: 100%;
        height: 2%;
    }

    form{
        width: 100%;
        height: 70%;
        color: #00002e;
        font-weight: bold;
        font-size: 16px;
    }

    .logo{
        height: 20%
    }

    .name-form,.submitDiv{
        width: 100%;
        height:25%;
        position: relative;

        /*border: solid black 1px;*/

    }
    .name-form div{
        height: 40%;

    }

    .submitDiv div{
        height: 70%;
    }
    .name-form div, .submitDiv div{
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        /*border: solid blue 1px;*/

    }

    .logo_img{
        height: 100%;
        width: 30%;
        margin: 0 auto;
        overflow: hidden;
    }

    .logo_img img{
        height: 100%;
        width:100%;
    }

    .name-form div input{
        width: 100%;
        height: 100%;
        border: 1px grey solid;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        color:#00002e ;
    }

    .submitDiv div input{
        width: 250px;
        height: 100%;
        margin: 0 auto;
        display: block;
        background-color: #00002e;
        color: white;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
        font-weight: bold;
        font-size: 16px;
    }

    .submitDiv div input:hover{
        background-color: #5cc29f;
        color:white ;
        font-weight: bold;
        font-size: 16px;
    }

}