<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/css/quiz.css" th:href="@{/css/quiz.css}">
</head>
<body>
<script th:inline="javascript">
    var nameJs = [[${user}]];
</script>
<div id='main'>
    <div id="timer">
        <div id="timeDisp">time</div>
    </div>
    <div class="header">
        <h2 id="header">lorem ipsum</h2>
    </div>
    <form id="quizReg">
        <div class="contain">
            <div class="containDiv">
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
            </div>
        </div>
        <div class="contain">
            <div class="containDiv">
                <input type="radio" id="male1" name="gender" value="male">
                <label for="male1">Male</label><br>
            </div>
        </div>
        <div class="contain">
            <div class="containDiv">
                <input type="radio" id="male2" name="gender" value="male">
                <label for="male2">Male</label><br>
            </div>
        </div>
        <div class="contain">
            <div class="containDiv">
                <input type="radio" id="male3" name="gender" value="male">
                <label for="male3">Male</label><br>
            </div>
        </div>
    </form>
    <div id="butto">
        <div id="buttonGrp">
            <button id="change">Next</button>
            <button id="submit" th:onclick="getModelAttr(nameJs);">Submit</button>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>