<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<script th:inline="javascript">
    var nameJs = [[${user}]];
</script>
<div id='main'>
    <h2 id="header"></h2>
    <form id="quizReg">

    </form>
    <div id="butto">
        <button id="change">Next</button>

        <button id="submit" th:onclick="getModelAttr(nameJs);">Submit</button>

    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>