<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Sign Up or Log In</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="parent">
        <div class="form-div">
            <div class="logo">
                <div class="logo_img">
                    <img src="../static/images/kunai.svg" th:src="@{/images/kunai.svg}"/>
                </div>
            </div>
            <p th:text="${userExist}" class="existPara"></p>
            <form class="form" action="#" th:action="@{/}" th:object="${user}" method="post">
                <div class="name-form">
                    <div>
                        <input placeholder="Username" id="username" type="text" th:field="*{userName}" required autocomplete="off"/>
                    </div>
                </div>
                <div class="name-form">
                    <div>
                        <input placeholder="Email" id="email" type="email" th:field="*{email}" required autocomplete="off"/>
                    </div>
                </div>
                <div class="name-form">
                    <div>
                        <input placeholder="Password" id="password" type="password" th:field="*{password}" required autocomplete="off"/>
                    </div>
                </div>
                <div class="submitDiv">
                    <div>
                        <input type="submit" value="Sign in" id="button"/>
                    </div>
                </div>
                <div class="buttonDiv">
                    <a href='login.html.html' th:href="@{/login}"><button class="button">Login</button></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>