<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Sign Up or Log In</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div>
        <div class="vector-div">

        </div>
        <div class="form-div">
            <p th:text="${userExist}"></p>
            <form class="form" action="#" th:action="@{/}" th:object="${user}" method="post">
                <div class="name-form">
                    <input id="username" type="text" th:field="*{userName}" required autocomplete="off"/>
                    <label for="username" class="label-name">
                        <span class="content-name">Username</span>
                    </label>
                </div>
                <div class="name-form">
                    <input id="email" type="email" th:field="*{email}" required autocomplete="off"/>
                    <label for="email" class="label-name">
                        <span class="content-name">Email</span>
                    </label>
                </div>
                <div class="name-form">
                    <input id="password" type="password" th:field="*{password}" required autocomplete="off"/>
                    <label for="password" class="label-name">
                        <span class="content-name">Password</span>
                    </label>
                </div>




                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>
</html>